{% extends 'base.html' %}

{% block title %}
    Delete post
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        {% if user.id == post.author.pk %}

            <h3>Are you sure?</h3>
                </br>
                <div class="form-group d-flex gap-5">
                    <form action="{% url 'post_view' post.pk %}">
                        <button class="btn btn-outline-primary">Back</button>
                    </form>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-outline-danger">Delete</button>
                    </form>
                </div>

        {% else %}

            <form action="{% url 'home' %}" class="mt-5 text-center" >
                <button class="btn btn-outline-primary ">Go back to home page</button>
            </form>

            <script type="text/javascript">
                const elem = document.getElementById('liveToast');

                const header_color = document.getElementsByClassName('toast-header')[0];
                header_color.classList = ['toast-header text-dark bg-warning'];

                const toast_header = document.getElementById('toast-header');
                toast_header.innerHTML = 'Error';

                const toast_body = document.getElementById('toast-body');
                toast_body.innerHTML = 'You can only delete your posts'

                const toast = bootstrap.Toast.getOrCreateInstance(elem);
                toast.show();

                elem.addEventListener('hidden.bs.toast', function (){
                    window.location.href = '/';
                })
            </script>

        {% endif %}

    {% else %}

        <form action="{% url 'login' %}" class="mt-5 text-center" >
                <button class="btn btn-outline-primary ">Go to login page</button>
            </form>

            <script type="text/javascript">
                 const elem = document.getElementById('liveToast');

                const header_color = document.getElementsByClassName('toast-header')[0];
                header_color.classList = ['toast-header text-dark bg-warning'];

                const toast_header = document.getElementById('toast-header');
                toast_header.innerHTML = 'Error';

                const toast_body = document.getElementById('toast-body');
                toast_body.innerHTML = 'You must be logged in to delete posts'

                const toast = bootstrap.Toast.getOrCreateInstance(elem);
                toast.show();

                elem.addEventListener('hidden.bs.toast', function (){
                    window.location.href = '/signup/login';
                })
            </script>

    {% endif %}


{% endblock %}

