{% extends 'base.html' %}

{% block title %}
    Edit post
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.pk == post.author.id %}
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <form action="{% url 'post_view' post.pk %}">
                            <button class="btn btn-outline-primary ">Back</button>
                        </form>

                        <button class="btn btn-outline-primary">Submit changes</button>
                    </div>
                </form>

            </div>
<script>
            sessionStorage.setItem('toast', 'moderation_notification');
        </script>
        {% else %}

            <form action="{% url 'home' %}" class="mt-5 text-center" >
                <button class="btn btn-outline-primary ">Go back to home page</button>
            </form>

            <script type="text/javascript">
                const elem = document.getElementById('liveToast');

                const header_color = document.getElementsByClassName('toast-header')[0];
                header_color.classList = ['toast-header text-dark bg-warning'];

                const toast_header = document.getElementById('toast-header');
                toast_header.innerHTML = 'Error';

                const toast_body = document.getElementById('toast-body');
                toast_body.innerHTML = 'You can only change your posts'

                const toast = bootstrap.Toast.getOrCreateInstance(elem);
                toast.show();

                elem.addEventListener('hidden.bs.toast', function (){
                    window.location.href = '/';
                })
            </script>
        {% endif %}

    {% else %}

        <form action="{% url 'login' %}" class="mt-5 text-center" >
                <button class="btn btn-outline-primary ">Go to login page</button>
            </form>

            <script type="text/javascript">
                const elem = document.getElementById('liveToast');

                const header_color = document.getElementsByClassName('toast-header')[0];
                header_color.classList = ['toast-header text-dark bg-warning'];

                const toast_header = document.getElementById('toast-header');
                toast_header.innerHTML = 'Error';

                const toast_body = document.getElementById('toast-body');
                toast_body.innerHTML = 'You must be logged in to edit posts'

                const toast = bootstrap.Toast.getOrCreateInstance(elem);
                toast.show();

                elem.addEventListener('hidden.bs.toast', function (){
                    window.location.href = '/signup/login';
                })
            </script>

    {% endif %}


{% endblock %}
