{% extends 'base.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}

    <ul class="list-group">
    {% for post in object_list %}

        <a href="{% url 'post_view' post.id %}" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ post.title }}</h5>
          <small>{{ post.get_date }}</small>
        </div>
        <p class="mb-1">{{ post.content|slice:100 }}...</p>
            <small>Author: {{ post.author.first_name }} {{ post.author.last_name }} ({{ post.author.username }})</small>
        </a>


    {% endfor %}
    </ul>

{% endblock %}