{% extends 'base.html' %}

{% block title %}
    Post {{ post.id }} {{ post.title|truncatewords:1 }}
{% endblock %}

{% block content %}

<div class="d-flex flex-row align-items-center gap-3">
    <h4>{{ post.author.first_name }} {{ post.author.last_name }} ({{ post.author.username }})</h4>

    <span style="color: #909090;">{{ post.get_date }}</span>
    <div class="d-flex gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16" style="color: #909090;">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
        </svg>
        <span style="color: #909090;">{{ post.views_count }}</span>
    </div>

    {% if user.pk == post.author.id %}
        <form action="{% url 'edit_post' post.id %}">
            <button type="submit" class="btn btn-outline-primary">Edit post</button>
        </form>
        <form action="{% url 'delete_post' post.id %}">
            <button type="submit" class="btn btn-outline-danger">Delete post</button>
        </form>

    {% endif %}
</div>
<hr>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col-8">
        <h1>{{ post.title }}</h1>
        {{ post.content }}
    </div>
    <div class="col-4">
      <h2>Popular now</h2>
        <ul class="list-group">
            {% for post in popular_posts %}
                <a href="{% url 'post_view' post.id %}" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{ post.title|slice:30 }}...</h5>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16" style="color: #909090;">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                            </svg>
                            <span style="color: #909090;">{{ post.views_count }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </ul>
    </div>
  </div>
</div>
<form action="{% url 'home' %}" class="mt-5">
    <button class="btn btn-outline-primary ">Back</button>
</form>
</br>

{% endblock %}